<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>

		<add name="Default" connectionString="Data Source=LAPTOP-O791JS0J\SQLEXPRESS;Initial Catalog=Conve;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--<add name="Default" connectionString="Data Source=(local);Initial Catalog=ConvenienceStore;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="Default" connectionString="Data Source=(local);Initial Catalog=ConvenienceStore;Integrated Security=True" providerName="System.Data.SqlClient" />-->

	</connectionStrings>
</configuration>